@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        background-color: #000;
    }

    main {
        @apply w-full h-fit scroll-smooth overflow-hidden
    }

    .download-btn {
        @apply w-28 h-28 left-1/2 top-[50%] rounded-full flex flex-col justify-center items-center text-white bg-fuchsia-600 cursor-pointer max-md:left-[10%] max-md:top-[560px] animate-[btn-effect_1s_linear_infinite]
    }

    .download-btn::before {
        content: '';
        position: absolute;
        width: 145px;
        height: 145px;
        outline: rgba(192, 38, 211, 0.1) solid 15px;
        border-radius: 50%;
        border: 20px solid rgba(192, 38, 211, 0.3);
        transition: 0.2s all;
        animation: btn-out 1s linear infinite;
    }

    .download-btn:hover::before,
    .download-btn:hover {
        animation: pause;
    }

    .download-btn:active {
        transition: 0.2s all;
        transform: scale(0.94);
    }

    @keyframes btn-out {
        0% {
            outline: rgba(192, 38, 211, 0.4) solid 0px;

        }

        50% {
            outline: rgba(192, 38, 211, 0.2) solid 10px;
        }

        100% {
            outline: rgba(192, 38, 211, 0.1) solid 20px;
        }
    }


    @keyframes btn-effect {
        0% {
            outline: rgba(192, 38, 211, 0.4) solid 0px;
            border: 0px solid rgba(192, 38, 211, 0.1);
            transform: scale(0.94);
        }

        25% {
            outline: rgba(192, 38, 211, 0.3) solid 5px;
            border: 10px solid rgba(192, 38, 211, 0.2);
            transform: scale(0.96);
        }

        50% {
            outline: rgba(192, 38, 211, 0.2) solid 10px;
            border: 15px solid rgba(192, 38, 211, 0.3);
            transform: scale(0.98);
        }

        100% {
            outline: rgba(192, 38, 211, 0.1) solid 15px;
            border: 20px solid rgba(192, 38, 211, 0.4);
            transform: scale(1);
        }
    }

    .active {
        @apply text-red-600
    }

    .grid-active {
        @apply transition-transform hover:scale-110 active:scale-100 max-md:active:scale-110 max-md:hover:scale-100
    }

    .loader {
        width: fit-content;
        font-weight: bold;
        font-family: monospace;
        font-size: 30px;
        background: linear-gradient(135deg, #0000 calc(50% - 0.5em), #000 0 calc(50% + 0.5em), #0000 0) right/300% 100%;
        animation: l22 2s infinite;
    }

    .loader::before {
        content: "LOADING";
        color: #0000;
        padding: 0 5px;
        background: inherit;
        background-image: linear-gradient(135deg, #000 calc(50% - 0.5em), #fff 0 calc(50% + 0.5em), #000 0);
        -webkit-background-clip: text;
        background-clip: text;
    }

    @keyframes l22 {
        100% {
            background-position: left
        }
    }
}